div.main{
    width: 100%;
    height: auto;
    background-color: var(--blue-black);
}
div.header-home {
    position: fixed;
    display: flex;
    width: 100%;
    height: 8rem;
    padding: 0 30rem;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px var(--blue-black);
    background-color: var(--blue-soft);
}

div.header-home img {
    height: 3.7rem;
}

div.header-home ul.navbar-home {
    list-style: none;
    width: 49rem;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1.7rem;
}

div.header-home ul.navbar-home li {
    width: 10.5rem;
    font-size: 1.5rem;
}

div.header-home ul.navbar-home li.button-blog {
    height: 4rem;
    background-color: var(--blue-black);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    color: var(--white);
}

div.main-home{
    max-width: 100vw;
}

div.main-home > div{
    padding: 0 30rem;
}

div.main-home div.content-front-page{
    padding-top: 8rem;
    background-color: var(--blue-soft);
}

div.main-home div.front-page {
    width: 100%;
    padding: 6.7rem 9rem;
    font-style: italic;
    display: flex;
    justify-content: space-between;

}

div.main-home div.front-page h1 {
    font-size: 5rem;
    margin-top: 1rem;
}

div.main-home div.front-page p {
    font-size: 2rem;
}

div.main-home div.front-page p.introduction {
    width: 61.4rem;
    margin-top: 2rem;
}

div.main-home div.front-page ul.list-buttoms {
    list-style: none;
    width: 25.4rem;
    display: flex;
    margin-top: 4.8rem;
    justify-content: space-between;
    align-items: center;
}

div.main-home div.front-page ul.list-buttoms li {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    width: 11rem;
    height: 3rem;
    background-color: var(--blue-black);
    border-radius: 2rem;
}

div.main-home div.front-page ul.list-buttoms li .icon,
div.main-home div.front-page ul.list-buttoms li .icon path {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.8rem;
    fill: var(--white);
}

div.main-home div.front-page ul.list-buttoms li span {
    font-size: 1.2rem;
    font-weight: bold;
    font-style: normal;
}

div.main-home div.front-page div.cube3d {
    width: 30rem;
    height: 30rem;
}

div.main-home div.about {
    display: flex;
    padding-top: 8rem;
}

div.main-home div.about div.content-text{
    width: 46.3rem;
    margin-left: 9rem;
    font-size: 1.9rem;
    color: var(--white-soft);
}

div.main-home div.about div.content-text h2{
    font-size: 3.5rem;
    margin-bottom: 4.3rem;
}

div.main-home div.about div.content-text p {
    margin-bottom: 3.1rem;
}

div.main-home div.about img {
    width: 24.7rem;
    height: 24.7rem;
    margin-top: 6.5rem;
    margin-left: 28.1rem;
}

div.main-home div.skills{
    display: flex;
    margin-top: 10rem;
    padding-bottom: 5rem;
    align-items: center;
}

div.main-home div.skills div.content-text{
    width: 46.3rem;
    margin-left: 9rem;
    font-size: 1.9rem;
    color: var(--white-soft);
    margin-right: 28.1rem;
}

div.main-home div.skills div.content-text h2{
    font-size: 3.5rem;
    margin-bottom: 4.3rem;
}

div.main-home div.skills div.content-text p{
    margin-bottom: 3.1rem;
}