div.main {
    width: 100%;
    height: auto;
    background-color: var(--blue-black);
}

div.header-home {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 8rem;
    padding: 0 4rem;
    border-bottom: solid 1px var(--blue-black);
    background-color: var(--blue-soft);
    z-index: 2;
}

div.header-home div.content {
    max-width: 132rem;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.header-home img {
    height: 3.7rem;
}

div.header-home ul.navbar-home {
    list-style: none;
    width: 49rem;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1.7rem;
}

div.header-home ul.navbar-home li {
    width: 10.5rem;
    font-size: 1.5rem;
}

div.header-home ul.navbar-home li:hover {
    text-shadow: 1px 1px 9px var(--blue-black);
}

div.header-home ul.navbar-home li a {
    color: var(--blue-black);
}

div.header-home ul.navbar-home li .button-blog {
    height: 4rem;
    background-color: var(--blue-black);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    color: var(--white);
}

div.main-home {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.main-home > div {
    width: 114.2rem;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
}

div.main-home div.content-front-page {
    width: 100%;
    padding: 8rem;
    display: flex;
    justify-content: center;
    background-color: var(--blue-soft);
}

div.main-home div.front-page {
    width: 114.2rem;
    font-style: italic;
    display: flex;
    flex-wrap: wrap;
    margin-top: 6.7rem;
    justify-content: space-between;
}

div.main-home div.front-page h1 {
    font-size: 5rem;
    margin-top: 1rem;
}

div.main-home div.front-page p {
    font-size: 2rem;
}

div.main-home div.front-page p.introduction {
    width: 61.4rem;
    margin-top: 2rem;
}

div.main-home div.front-page ul.list-buttoms {
    list-style: none;
    width: 25.4rem;
    display: flex;
    margin-top: 4.8rem;
    justify-content: space-between;
    align-items: center;
}

div.main-home div.front-page ul.list-buttoms li a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    width: 11rem;
    height: 3rem;
    background-color: var(--blue-black);
    border-radius: 2rem;
}

div.main-home div.front-page ul.list-buttoms li a:hover{
    box-shadow: 0px 0px 10px 1px var(--blue-black);
}

div.main-home div.front-page ul.list-buttoms li .icon,
div.main-home div.front-page ul.list-buttoms li .icon path {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.8rem;
    fill: var(--white);
}

div.main-home div.front-page ul.list-buttoms li span {
    font-size: 1.2rem;
    font-weight: bold;
    font-style: normal;
}

div.main-home div.front-page div.cube3d {
    width: 30rem;
    height: 30rem;
}

div.main-home div.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 9rem;
}

div.main-home div.about div.content-about {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

div.main-home div.about div.content-text {
    width: 46.3rem;
    font-size: 1.9rem;
    color: var(--white-soft);
}

div.main-home div.about div.content-text h2 {
    font-size: 3rem;
    margin-bottom: 4.3rem;
    color: var(--white);
}

div.main-home div.about div.content-text p {
    margin-bottom: 3.1rem;
}

div.main-home div.about img {
    width: 24.7rem;
    height: 24.7rem;
    margin-left: 28.1rem;
    margin-right: 5rem;
    filter: invert(85%) sepia(14%) saturate(963%) hue-rotate(149deg) brightness(87%) contrast(99%);
}

div.main-home div.about div.skills {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10rem;
    padding-bottom: 5rem;
    align-items: center;
    justify-content: space-between;
}

div.main-home div.about div.skills div.content-text {
    width: 46.3rem;
    font-size: 1.9rem;
    color: var(--white-soft);

}

div.main-home div.about div.skills div.content-text h2 {
    font-size: 2.2rem;
    margin-bottom: 4.3rem;
    color: var(--white);
}

div.main-home div.about div.skills div.content-text p {
    margin-bottom: 3.1rem;
}

div.main-home div > h2 {
    width: 100%;
    font-size: 3.5rem;
    color: var(--white);

}

div.main-home div.education {
    display: flex;
    flex-wrap: wrap;
}

div.main-home div.education h2 {
    width: 100%;
    font-size: 3.5rem;
    color: var(--white);
}

div.main-home div.education div.study {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color: var(--white-soft);
    margin-bottom: 3rem;
}


div.main-home div.education div.study div.text-study h3 {
    /*font-size: 1.9rem;*/
    font-size: 19px;
    color: var(--blue-soft);
}

div.main-home div.education div.study div.logo {
    width: 12rem;
    margin-right: 10rem;
}

div.main-home div.worked {
    display: flex;
    flex-wrap: wrap;
}

/*div.main-home div.worked > h2 {*/
/*    margin-bottom: 2rem;*/
/*}*/

div.main-home div.worked div.work {
    width: 100%;
    height: 20rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

div.main-home div.worked div.work > div.text-work > h3 {
    font-size: 2rem;
    color: var(--blue-soft);
}
div.main-home div.worked div.work > div.text-work > h4{
    font-size: 1.5rem;
}

div.main-home div.worked div.work > div.text-work > h3 > span {
    color: var(--white-soft);
}

div.main-home div.worked div.work > div.text-work > h3 > span > a {
    position: relative;
    color: var(--white-soft);
}

div.main-home div.worked div.work > div.text-work > h3 > span > a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    right: 0;
    background-color: var(--white-soft);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

div.main-home div.worked div.work > div.text-work > h3 > span > a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

div.main-home div.worked div.work > div.text-work > h4 {
    color: var(--white-soft);
    margin-bottom: 1rem;
}

div.main-home div.worked div.work > div.text-work > p {
    color: var(--white-soft);
    font-size: 1.2rem;
}

div.main-home div.worked div.work > div.text-work > div.features {
    display: flex;
    margin-top: 1rem;
}

div.main-home div.worked div.work > div.text-work > div.features > span{
    width: 7rem;
    font-weight: bold;
    color: var(--blue-soft);
}

div.main-home div.worked div.work > div.text-work > div.features > ul.tags{
    padding-left: 2rem;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    color: var(--white-soft);
}

div.main-home div.worked div.work > div.logo > img{
    height: 8rem;
    margin-right: 13rem;
    filter: invert(84%) sepia(18%) saturate(752%) hue-rotate(148deg) brightness(91%) contrast(90%);

}