div.main-blog {
    width: 100%;
    min-height: calc(100vh - 8.1rem);
    background-color: var(--blue-black);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

div.main-blog > div.banner{
    width: 100%;
    height: 44rem;
    display: flex;
    justify-content: center;
    background-color: var(--blue-soft);
}

div.main-blog > div.banner > div.contet-banner{
    width: 132rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.main-blog > div.banner > div.contet-banner > div.content-text{
    width: 91rem;
    height: 17rem;
    color: var(--blue-black);
    margin-left: 9rem;
}

div.main-blog > div.banner > div.contet-banner > div.content-text > h1{
    font-size: 5rem;
    font-style: italic;
}

div.main-blog > div.banner > div.contet-banner > div.content-text > p{
    font-size: 2rem;
    font-style: italic;
    font-weight: normal;
}

div.main-blog > div.banner > div.contet-banner > div.content-text > ul{
    width: 26rem;
    height: 3rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 4rem;
}

div.main-blog > div.banner > div.contet-banner > div.content-text ul li{
    list-style: none;
    width: 11rem;
    height: 100%;
    background-color: var(--blue-black);
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: var(--white);
    font-weight: bold;
}

div.main-blog > div.banner > div.contet-banner > div.content-text ul .icon,
div.main-blog > div.banner > div.contet-banner > div.content-text ul .icon path{
    width: 1.8rem;
    fill: var(--blue-soft);
}

div.main-blog > div.banner > div.contet-banner > div.content-text ul .devto path{
    fill: var(--blue-black);
}

div.main-blog > div.list-articles{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
}

div.main-blog > div.list-articles > div.article{
    width: 110rem;
    display: flex;
    flex-direction: column;
    padding: 2rem 5rem;
    border: 1px solid var(--white);
    border-radius: 2rem;
    margin-bottom: 2rem;
}

div.main-blog > div.list-articles > div.article > h2{
    font-weight: bold;
    font-size: 2.2rem;
    color: var(--blue-soft);
    margin-bottom: 0.5rem;
}

div.main-blog > div.list-articles > div.article > ul{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    color: var(--white-soft);
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 1rem;
}

div.main-blog > div.list-articles > div.article > ul > li{
    border: 1px solid var(--white-soft);
    border-radius: 1rem;
    padding: 0.5rem;
}

div.main-blog > div.list-articles > div.article > p{
    color: var(--white-soft);
}