:root {
  --blue-black: #152C34;
  --blue-soft: #86CFDE;
  --white: #F3F2EF;
  --white-soft: #A4B3B0;

}

html{
  font-family: 'Arial', serif;
  font-size: 62.5%;
  box-sizing: border-box;
}

*{
  padding: 0;
  margin: 0;

}

body{
  width: 100vw;
  overflow-x: hidden;
}

#root{
  width: 100%;
}

a:link, a:visited, a:active{
  text-decoration: none;
}